.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heading a {
  color: #d28e3e;
  text-decoration: none;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 40px;
}
.heading{
  color: #d28e3e;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 40px;
    font-weight: 700;
}
.parent-node{
  width:100%;
  display: flex;
}
.side-nav{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-nav{
  width:100%;
  align-items: center;
}
input{
  width: 75%;
    height: 20px;
    display: flex;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #d28e3e;
}
.side-nav ul {
  height: 100vh;
  overflow-y: scroll;
}
ul li {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  list-style: none;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;}
.center-nav > div {
  width: 26%;
  border: 1px solid white;
  padding: 30px;
  display: inline-block;
  margin: 20px;
  box-shadow: 0px 1px 2px 1px #d28e3e;
}
.center-nav h1{
  font-weight: 500;
  font-size: 20px;
  margin-left: 20px;
}
.text-red{
  color: #d28e3e;
  font-weight: 600;
  margin-right: 10px;
}
.side-nav select{
  height: 45px;
  text-align: center;
  margin-top: 10px;
  border: 1px solid #d28e3e;
  width: 85%;
  display: inline-block;
  margin: 20px;
  box-sizing: border-box;
  padding: 13px;
  text-indent: 42%;
}

@media only screen and (max-width: 600px) {
  .side-nav {
    width: 100%
  }
  .center-nav{
    width: 100%;
    justify-content: center;
  }
  
  .center-nav > div {
    width: 85%;
    border: 1px solid white;
    display: inline-block;
    margin: 20px;
    box-shadow: 0px 1px 2px 1px #d28e3e;
    box-sizing: border-box;
    padding: 25px;
}
}